.main {
	align-self:centre;
	color:#000080;
	font-size: 15;
	padding: 30px;
	display:block;
	margin-left: 50px;
}

.div1 li {
	align-content:right;
	color:#000080;
	font-size: 15;
	width:60%;
	padding: 10px;
	margin-left: 50px;
}

.search {
	align-content:right;
	color:#000080;
	font-size: 15;
	width:60%;
	padding: 10px;
	margin-left: 500px;
}

.divright{
    float:left;
    width: 70%;
    height: 30px;
    margin: 0px;
    border: none;
    background-color: #b6e3fe;
    align-content: right;
    clear: both;
}

.divright a{
    float:right;
    font-weight:bold; 

}
div.left{
    position: relative;
    left: auto;
    width: 70%;
    margin-top: 10px;
    border: none;
    background-color: #b6e3fe;
    align-content: right;
}
div.right{
    position: relative;
    width: 70%;
    margin: 0px;
    border: none;
    background-color: #b6e3fe;
    align-content: right;
}

.quickLink{
	
	background-color:#efeffc;
	color: black;
	font-size: 15;	
	width: 70%;
	font:bold;
}

.header {
    color:#000080;
    font-size: large;
    font-style: inherit;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: initial;
    font: bolder;
}

.section {
    border-block-start-width: thick;
    padding-block-start: 50pc;

}
.aside {
  background-color: #ddd;
  border-block-start-width: thick;
  border-block-end-width: medium;
  max-block-size: 300pc;
 
}

.h1 {
    color:#400080;
    margin-left: 10px;
    padding: 10px;
}
 
.h2 {
    color:#FF0000;
}
 
.navText {
	
	color:#62ff62;
} 
.detailtable {
    border-collapse: collapse;
    width: 70%;
    border-style: solid;
    border-color: #0000a0
}
 
.detailtable th {
    padding: 5px;
    text-decoration: underline;
    border-bottom: thin;
}

.detailtable td {
    padding: 5px;
    border-bottom-style: groove;
    border-bottom-width: medium;
    border-style: ridge;

}

.detailtable input {
	font:bold;
	font-size:medium;
    padding: 5px;
    width: 90%;
    background-color: #dfdfff;
}

.booklist {
	border:medium;
	border-style: solid;
	border-width: medium;
    border-collapse: collapse;
    border-color: #0000a0;
    clear:both;
}
 
.booklist th {
    padding: 10px;
    text-align: left;
 	border-style: solid;
	border-width: thin;
    text-decoration: underline;
    border-color: #0000a0
}

.booklist td {
 	border-style: solid;
	border-width: thin;
	text-align: left;
    padding: 10px;
    border-color: #0000a0
}

.navbar {
    overflow: hidden;
    background-color: #0000a0;
    font-family: Arial, Helvetica, sans-serif;
    width:70%
}

.navbar1 {
    overflow: hidden;
    background-color: #57af57;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000a0;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8080ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.footer{
	text-align: centre;
	width:70%;
}

.span1{
	color: #f0f0ff;
}

fieldset { 
  display: block;
  margin-left: 20px;
  margin-right: 2px;
  padding-top: 10px;
  padding-bottom: 0.625em;
  padding-left: 20px;
  padding-right: 0.75em;
  border: 1px groove (internal value);
  border-color: #0000a0;
  width: 65%
}